
<style>

/*different branding for homepage not scroll (light)*/
.home #header .site-logo-wrapper a > img {
content: url("https://w2.chabad.org/media/images/1184/hkQq11840680.png") !important;
}
.header-title{
	color:green !important;
}
.home #header_branding > div > a > img {
	content: url("https://w2.chabad.org/media/images/1184/hkQq11840680.png") !important;
}

/*taking off the circle behind branding*/
#header_branding .site-logo-wrapper {
background-color: transparent !important;
}

/*making the logo bigger on big screens
@media (min-width:787px) {
.site-logo-wrapper a > img {
width: 150px !important;
height: 150px !important;
margin-top: -10px !important;
}*/


/*making hero less tall*/
@media (min-width: 1250px) {
.hp-table .hp-row-first .promo_slider .slider .slides {
    padding-top: 40% !important;
	
}
}

/*making main title white*/
.cycle-caption big {
color: white !important;
}

/*hero text change size*/
.cycle-caption :not(big, a) {
	font-size: 18px !important;
}

.cycle-caption big {
	font-size: 40px !important;
}

/*icon section*/
.icon .widget_content .item .icon img {
    width: 90px !important;
    float: none;
    filter: none !important;
}


/*recoloring subscribe section*/
.hp-table .hp_subscribe {
background: ##67112A !important;
}

.hp-table .hp_subscribe .widget_header.widget_header h5 {
color: white !important;
}


/*making some elements a different font*/
.widget-4 .bottom_padding, .cycle-caption :not(big, a) {
font-family: 'Roboto Slab', sans-serif !important;
}

.co_body .content .form-all, .co_body .content p, .co_body h1, .co_body h1 a, .co_body h2, .co_body h2 a, .co_body h3, .co_body h3 a, .co_body h4, .co_body h4 a, .co_body h5, .co_body h5 a, .co_body h6, .co_body h6 a, .cps-container h1, .cps-container h2, .cps-container p, .form-all, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, html body.cco_body, html body.cco_body p, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, strike, strong, sub, summary, sup, table, tfoot, time, tt, u, ul, var, video {
font-family: 'Maven Pro', sans-serif !important;
text-transform: none !important;
}

/*making buttons round edges*/
.message .wrapper .widget_content .readMore, .hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore, .latest_photos .readMore span, body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a {
border-radius: 25px !important;
}

