
<style>
/*mini-site full width glitch*/
.the-first-thing {
	doesnt: render;
}
/*circle around logo see through*/
#header_branding .site-logo-wrapper {
background: transparent !important;
}

/*titles in teal*/
.header-title, [class*=widget-] .widget_header.widget_header h5 ,.widget_header h5{
  color:#2A9D8E !important;
}
/*message in turk */

.message .wrapper .widget_content .readMore {   
    color: #264653 !important;
    border: 2px solid #264653 !important;
}
/*message on hover in turk and color white */
.message .wrapper .widget_content .readMore:hover {
    background: #264653 !important;
	color:#FFF !important;
}
/*program section with gradient background */
.hp-table>:nth-of-type(2n) {
background: linear-gradient(90deg, #E9C46B 0%, #F1A460 100%) !important;
}

/*line above footer in yellow*/
.hp-table .hp_subscribe{
  background:#E9C46B !important;
}

/*footer in turk*/
#footer{
  background:#264653 !important;
}

/*subscribe button in footer teal*/
.hp_subscribe .wrapper #formContainer fieldset input[type=submit] {
    border-color: #2A9D8E !important;
}
.hp_subscribe .wrapper #formContainer fieldset input[type=submit]:hover {
    background-color: #2A9D8E !important;
}

/*links in the lists in turk*/
.hp_content_wrapper .widget_content>ul>li h6 a{
	color:	#264653 !important;
}
