
<style>
/*mini-site full width glitch*/
.the-first-thing {
	doesnt: render;
}
#header_branding .site-logo-wrapper {
	display:none !important;
}
[class*=widget-] .widget_header.widget_header h5 {
    color: #2A9D8E !important;
}

.header-title, [class*=widget-] .widget_header.widget_header h5 ,.widget_header h5{
  color:#2A9D8E !important;
}

/*line above footer in yellow*/
.hp-table .hp_subscribe{
  background:#E9C46B !important;
}

/*footer in turk*/
#footer{
  background:#2A9D8E !important;
}
